<h1>Home</h1>
<!-- <button routerLink="/createpost" >Create Post</button> -->
<!-- <button routerLink="/showpost" >Show Post</button> -->

<button routerLink="/createpost" type="button" class="button">
    <div class="button-top">Create Post</div>
    <div class="button-bottom"></div>
    <div class="button-base"></div>
  </button>

  <button routerLink="/showpost" type="button" class="button">
    <div class="button-top">Show Post</div>
    <div class="button-bottom"></div>
    <div class="button-base"></div>
  </button>

